@font-face {
	font-family: "HIROMISAKE";
	src: url("Hiromisake.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: "Nunito";
	src: url("Nunito.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;

}

h2 {

	font-family: "HIROMISAKE";
}

.para {
	font-family: "Nunito";
}

.Hiro {
	font-family: "HIROMISAKE";
	text-decoration: underline ;
	font-size: 30px;
}