@import url(./fonts/font.css);
@import url(../css/footer.css);
@import url(../css/header.css);


h3,
h2,
h1 {

    font-family: "HIROMISAKE", serif;
    text-decoration: underline;

}

h2,
h3 {
    color: #63120F;
}



body {

    margin: 0;
}








.gallery2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 30px;

}





.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 30px;

}


.Spoil {
    border: 3px solid #63120F;
    text-align: center;
    width: 175px;
    height: 25px;
    margin-left: 85px;
    padding-top: 5px;
    text-decoration: none;
}







h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 130px;
}

h3 {
    margin-top: 40px;
}

.Marge {
    margin-bottom: 30px;
    margin-top: 30px;
}




.gallery::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #63120F;
    left: -0.9rem;
    right: -0.9rem;
    top: calc(50% - 20px);
    z-index: -1;

}

.gallery::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #63120F;
    left: -0.9rem;
    right: -0.9rem;
    BOTTOM: calc(50% - 20px);
    z-index: -1;

}






.Susano {
    margin-top: 70px;
    position: relative;
    content: "";
    height: 799px;
    background-color: #055893;
    z-index: -1;
}

.Naruto {
    position: relative;
    content: "";
    height: 799px;
    background-color: #F2A30B;
    z-index: -1;
}

.Naruto2 {
    position: relative;
    content: "";
    height: 799px;
    background-color: #FFE182;
    z-index: -1;
}

.Ghibli {
    margin-top: 70px;
    position: relative;
    content: "";
    height: 799px;
    background-color: #EEE1D2;
    z-index: -1;
}

.SansVisage {

    position: relative;
    content: "";
    height: 799px;
    background-color: #DC252B;
    z-index: -1;
}

.DragonChihiro {
    position: relative;
    content: "";
    height: 799px;
    background-color: #BB493C;
    z-index: -1;
}

.Susuwatari {
    position: relative;
    content: "";
    height: 799px;
    background-color: #EB8F65;
    z-index: -1;
}

.SansVisagePNG {
    position: absolute;
    bottom: 0;
    left: 95;
    z-index: -1;
}

.GhibliPNG {
    position: absolute;
    right: 0;
    bottom: 0;
}


.PNGSusano {
    margin-top: 70px;
    position: absolute;
    right: 0;

}

.TexteNaruto {
    color: #014372;
    margin-right: 18px;
}

.TexteNaruto2 {
    color: #014372;
    margin-top: 50px;
}

.TexteSusano {
    margin-right: 150px;

}

p {
    font-family: "Nunito";
    margin-left: 18px;
    margin-right: 18px;
    color: white;
}









form {
    border: solid;
    border-radius: 30px;
    height: 300px;
}

.Form2 {
    border: solid;
    margin-bottom: 20px;
    width: 180px;
    margin-left: 15px;
    border-radius: 30px;
}

.Form3 {
    border: solid;
    margin-bottom: 20px;
    width: 180px;
    margin-left: 7px;
    border-radius: 30px;
}

input {
    background-color: #E4CFB1;
    border: none;
    margin-left: 2px;
    outline: none;
}

label {
    margin-left: 3px;
    border-right: solid;
    padding-right: 2px;

}


.Btn2 {
    cursor: pointer;
    z-index: 0;
    border: solid;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 140px;

}

input {
    box-sizing: border-box;
    appearance: none;
    box-shadow: none;
    border-radius: 30px;
    border-color: #E4CFB1;


}

.glossaire {
    border: solid;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: #63120F;
}

input:focus-visible {
    outline-offset: 0px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}



.Liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    margin-top: 30px;

}

.Liste li {

    margin-top: 20px;

}

.gallery2>a {
    padding-top: 15px;
}

.galleryFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: 30px;

}

.galleryNuage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 60px;
    width: "66px";
    height: "35px"

}

.galleryNuage>img {
    width: "66px";
    height: "35px"
}