@import url(./fonts/font.css);
@import url(../css/footer.css);
@import url(../css/header.css);






body {

    margin: 0;
}



.gallery2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 30px;

}

.gallery2::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    left: 31;
    right: 31;
    z-index: -1;

}


.gallery2>a {
    padding-top: 30px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 30px;

}


.Spoil {
    border: 3px solid #63120F;
    text-align: center;
    width: 175px;
    height: 25px;
    margin-left: 85px;
    padding-top: 5px;
    text-decoration: none;
}



h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 130px;
}


h2 {
    margin-top: 0;
    margin-left: 12px;
}

h3 {
    padding-top: 20;
    margin: 0;
    margin-left: 12px;
}

.Marge {
    margin-bottom: 30px;
    margin-top: 30px;
}




/* Page Naruto */


.Susano {
    margin-top: 70px;
    position: relative;
    content: "";
    height: 799px;
    background-color: #055893;
    z-index: -1;
}

.Naruto {
    position: relative;
    content: "";
    height: 860px;
    background-color: #F2A30B;
    z-index: -1;
}

.Naruto2 {
    position: relative;
    content: "";
    height: 799px;
    background-color: #FFE182;
    z-index: -1;
}

.PNGSusano {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

}

.TexteNaruto {
    color: #055893;
    margin-right: 18px;
    margin-top: 0;
}

.TexteNaruto2 {
    color: #055893;
    margin-top: 50px;
}




/* Page Voyage de Chihiro */


.Ghibli {
    margin-top: 70px;
    position: relative;
    content: "";
    height: 799px;
    background-color: #EEE1D2;
    z-index: -1;
}

.SansVisage {

    position: relative;
    content: "";
    height: 799px;
    background-color: #DC252B;
    z-index: -1;
}

.DragonChihiro {
    position: relative;
    content: "";
    height: 799px;
    background-color: #BB493C;
    z-index: -1;
}

.Susuwatari {
    position: relative;
    content: "";
    height: 799px;
    background-color: #EB8F65;
    z-index: -1;
}

.SansVisagePNG {
    position: absolute;
    bottom: 0;
    left: 95;
    z-index: -1;
}

.GhibliPNG {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Page Kyoto*/


.Temple {
    margin-top: 70px;
    position: relative;
    content: "";
    height: 799px;
    background-color: #6FA8BF;
    z-index: -1;
}

.MiniTemple {
    position: relative;
    content: "";
    height: 799px;
    background-color: #F2D9BA;
    z-index: -1;
}

.Geisha {
    position: relative;
    content: "";
    height: 799px;
    background-color: #F2695C;
    z-index: -1;
}

.Temple2 {
    position: relative;
    content: "";
    height: 799px;
    background-color: #DC252B;
    z-index: -1;
}


.GeishaPNG {
    width: 375;
    position: absolute;
    z-index: -1
}

.MiniTemplePNG {
    position: absolute;
    top: 14px;
    right: 16px;
}

.TemplePNG {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.Temple2PNG {
    position: absolute;
    bottom: 0;
    left: 65
}


/* Page Mangakas*/

.Saitama {
    margin-top: 70px;
    position: relative;
    content: "";
    height: 799px;
    background-color: #99A0CB;
    z-index: -1;
}

.Lunette {
    position: relative;
    content: "";
    height: 799px;
    background-color: #748CCC;
    z-index: -1;
}

.Capuche {
    position: relative;
    content: "";
    height: 799px;
    background-color: #5667B7;
    z-index: -1;
}

.Citation {
    position: relative;
    content: "";
    height: 799px;
    background-color: #354DAD;
    z-index: -1;
}

.SaitamaPNG {
    position: absolute;
    bottom: 0;
}

.LunettePNG {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.CapuchePNG {
    position: absolute;
    left: 0;
    bottom: 0;
}

.AngePNG {
    position: absolute;
    left: 0;
    bottom: 0;

}

p {
    font-family: "Nunito";
    margin-left: 12px;
    margin-right: 13px;
    color: white;
}



/* Page Stéréotypes Japon*/

.LuneRouge {
    margin-top: 70px;
    position: relative;
    content: "";
    height: 799px;
    background-color: #8B0000;
    z-index: -1;
}

.FemmeGeisha {
    position: relative;
    content: "";
    height: 799px;
    background-color: #2E2E2E;
    z-index: -1;
}

.FemmeGeisha2 {
    position: relative;
    content: "";
    height: 799px;
    background-color: #FAFAD2;
    z-index: -1;
}

.Chat {
    position: relative;
    content: "";
    height: 799px;
    background-color: #CDB79E;
    z-index: -1;
}


.FemmeGeishaPNG {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.FemmeGeisha2PNG {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.ChatPNG {
    position: absolute;
    bottom: 0;
    left: 17;
}





.FondNoirCadre {
    margin-top: 25px;
    margin-left: 13px;
    margin-right: 13px;
    position: relative;
    content: "";
    height: 770px;
    background-color: #000000;
    border-radius: 20px;
}


.FondBlancCadre {
    margin-top: 25px;
    margin-left: 13px;
    margin-right: 13px;
    position: relative;
    content: "";
    height: 770px;
    background-color: #FFFFFF;
    border-radius: 20px;
}


.FondNoir {
    margin-top: 25px;
    padding-top: 2;
    position: relative;
    content: "";
    height: 820px;
    background-color: #000000;
    z-index: -1;

}

.FondBlanc {
    
    padding-top: 2;
    position: relative;
    content: "";
    height: 820px;
    background-color: #FFFFFF;
    z-index: -1;
}


.LogoKonoha {
    position: absolute;
    top: 10;
    right: 10;
}





form {
    border: solid;
    border-radius: 30px;
    height: 300px;
}

.Form2 {
    border: solid;
    margin-bottom: 20px;
    width: 180px;
    margin-left: 15px;
    border-radius: 30px;
}

.Form3 {
    border: solid;
    margin-bottom: 20px;
    width: 180px;
    margin-left: 7px;
    border-radius: 30px;
}

input {
    background-color: #E4CFB1;
    border: none;
    margin-left: 2px;
    outline: none;
}

label {
    margin-left: 3px;
    border-right: solid;
    padding-right: 2px;

}


.Btn2 {
    cursor: pointer;
    z-index: 0;
    border: solid;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 140px;

}

input {
    box-sizing: border-box;
    appearance: none;
    box-shadow: none;
    border-radius: 30px;
    border-color: #E4CFB1;


}

.glossaire {
    border: solid;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: #63120F;
}

input:focus-visible {
    outline-offset: 0px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}



.Liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    margin-top: 30px;

}

.Liste li {

    margin-top: 20px;

}

.gallery2>a {
    padding-top: 30px;
}

.galleryFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: 30px;

}