@import url(./fonts/font.css);


h2,
h1 {

    font-family: "HIROMISAKE", serif;
    text-decoration: underline;

}


p {
    font-family: "Nunito";
}


body {
    background-color: #E4CFB1;
}


h1,
h2,
h3 {
    color: #63120F
}

nav {
    color: #E4CFB1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #63120F;
    z-index: 1;

}

footer,
header {
    background-color: #63120F;

}



.Para {
    color: #E4CFB1;
    text-align: center;
}


.center {
    text-align: center;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PhotoCenter {
    justify-content: center;
}

button {
    position: relative;
    appearance: none;
    border: none;
    background: none;
    padding: none;
    cursor: pointer;
    z-index: 2;
}

.BackgroundColorNuage {
    background-color: #E4CFB1;
}

.header {
    position: center fixed;





}

.header_logo {
    display: block;
}

.Spoil {
    border: 1px solid #63120F;
    text-align: center;
}

.Planche {
    margin-bottom: 18px;
    border: solid 2px #63120F;
}

.Menu {
    margin-left: 280px;
    z-index: 2;
}

#start {
    float: left;
}

.MonNindo {
    margin-top: 50px;
}

#Img1 {
    border: solid #63120F;

}

h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.Marge {
    margin-bottom: 30px;
    margin-top: 30px;
}

.nunu {
    margin-top: 10px;
}

a:-webkit-any-link {
    color: #E4CFB1;
    cursor: pointer;
    text-decoration: none;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.MenuUl {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

hr {
    border: solid #63120F 1px;
    transform: rotate(90deg);
    margin-left: 7px;

}